/* Variables */
:root {
  --clr-background: #ecf1f1;
  --clr-background-2: #6ba5a8;
  --clr-primary-1: #20979d;
  --clr-primary-2: #17696d;
  --text-color: #e7e7e7;
  --transition: all 0.3s linear;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: var(--clr-primary-1);
}

a:hover {
  color: var(--clr-primary-2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
